* 			{

	box-sizing:border-box;
	padding: 0;
	margin:0;




			}




body	{

	background-color: lightblue;



		}
nav ul {
	padding:10px 20px 30px 40px;
	overflow: auto;
	background-color: white;/* chooses background color */
	list-style: none; /* This takes off the bullet points of list in a */
	}





nav li {
		float: left;
		width: 33.33%;
		text-align: center;
		border: 2px solid purple;

		}

nav a {

		color: #5054D9;
		text-decoration: none;
		font-size: 20px;
		transition: 1s;

	}

nav a:hover {

	color: #C8AD55;



			}

.dudulappi {
	padding: 450px 20px;
	background-image: url("../images/landscape.jpeg");
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;




			}		
h1    {

	color: white;
	text-align: center;

	  }	
h2 {

		color:yellow;
		margin:0px;
		background-color: black;
		padding:10px;



}
.main-content {

	background-color: #fff;
	padding: 20px;
	margin: 20px;
	

			}
.main-content p 
			{
				color:black;
				background-color: grey;

			}	
.img-50 {

		width: 50%;
		display: block;
		margin: 10px auto;
		background-size: cover;
		background-position: center;




		}



































