@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');


* 			{

	box-sizing:border-box;
	padding: 0;
	margin:0;




			}




body	{

	background-color:skyblue;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;

		}


nav ul {
	padding:10px 20px 30px 40px;
	overflow: auto;
	background-color: white;/* chooses background color */
	list-style: none; /* This takes off the bullet points of list in a */
	}





nav li {
		float: left;
		width: 33.33%;
		text-align: center;
		border: 2px solid purple;

		}

nav a {

		color: #5054D9;
		text-decoration: none;
		font-size: 20px;
		transition: 1s;

	}

nav a:hover {

	color: #C8AD55;



			}

.dudulappi {
	padding: 350px 20px;
	background-image: url("../images/landscape.jpeg");
	background-size: cover;
	background-position: center;
	color: lightgreen;
	text-align: center;




			}		
h1    {

	color: white;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size:60px;

	  }	
h2 {

		color:yellow;
		margin:10px 0;
		background-color: black;
		padding:10px;



}
.main-content {

	background-color: #FFDAB9;
	padding: 50px;
	margin: 30px;
	

			}
.main-content p 
			{
				color:black;
				background-color: grey;

			}	
.img-50 {

		width: 50%;
		display: block;
		margin: 10px auto;
		background-size: cover;
		background-position: center;

		}

/* These are Utility Classes 
===========================================================*/

.center-text {
	text-align: center;

			}






































